@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply transition-colors ease-in-out duration-300 mx-4 bg-blue-200 px-4 py-2 rounded-xl hover:bg-blue-50 font-semibold text-sm;
}

.active {
  @apply text-white bg-blue-700 hover:bg-blue-700;
}

.table-data {
  @apply px-6 py-4  text-center text-black;
}

.table-head {
  @apply px-6 py-2 text-sm text-white;
}

.add-btn {
  @apply transition-colors ease-in-out duration-300 bg-blue-700 hover:bg-blue-900 text-white my-5 ml-10 mt-20 py-4 px-4 rounded-full max-w-fit fixed;
}

.del-btn {
  @apply transition-colors ease-in-out duration-300 bg-red-500 hover:bg-red-700 text-white font-bold py-4 px-4 rounded-full;
}

.ed-btn {
  @apply transition-colors ease-in-out duration-300 bg-green-500 hover:bg-green-700 text-white  font-bold py-4 px-4 rounded-full;
}

.sidenav {
  transition: all 0.3s ease-in-out;
  @apply w-64 h-screen pt-6 bg-blue-200 fixed opacity-95 max-h-screen overflow-scroll;
}

.sidenavClosed {
  transition: all 0.3s ease-in-out;
  @apply w-16 h-screen pt-6 bg-blue-200 fixed opacity-40 max-h-screen hover:opacity-75;
}

.menubutton {
  justify-self: flex-start;
  border: none;
  @apply self-start text-gray-500 bg-transparent cursor-pointer pl-5 ;
}
